/* global */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

a {
  color: rgba(255, 255, 255, .8);
  text-decoration: underline;
  transition: color 0.2s linear;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 0 10%;
}

/* logo */
.logo {
  width: 129px;
  height: 108px;
}
.logo__img {
  width: 100%;
  height: auto;
}

/* main-menu */
.main-menu {
  margin-left: auto;
}
.main-menu__list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-menu__item {
  list-style: none;
  margin-right: 30px;
  color: rgba(255, 255, 255, .8);
}

.main-menu__link {
  text-decoration: none;
}

/* button-menu */
.button-menu {
  display: none;
}


/* main section */
.main {
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

/* main__title */
.main__title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.8px;
  text-shadow: 0 1px 40px rgba(1, 1, 1, .55);
  color: rgba(255, 255, 255, .8);
  margin: 0 0 40px;
}
.main__title-big {
  display: block;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-style: normal;
}

/* main__button */
.main__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  border: 3px solid #fff;
  width: 280px;
  height: 68px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* main__description */
.main__description {
  color: rgba(255, 255, 255, .8);
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}