.features {
  padding: 100px 10%;
}
.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.features__item {
  list-style: none;
  text-align: center;
  width: 360px;
}
.features__item:before {
  content: "";
  width: 107px;
  height: 107px;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.features__item--burger:before {
  background-image: url('images/burger@2x.png');
}
.features__item--money:before {
  background-image: url('images/money@2x.png');
}
.features__item--man:before {
  background-image: url('images/man@2x.png');
}
.features__description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #8b8b8b;
}